#basicEditor {
    min-height: 300px;
    border: solid 1px gray;
    padding: 10px;
}

#be-toolbar {
    background-color: #fff;
    border: 1px solid royalblue;
}

#be-toolbar .be-icon-container {
    width: 32px;
    height: 32px;
    padding: 2px;
    position: relative;
}

#be-toolbar .be-icon-container .be-icon {
    width: 16px;
    height: 16px;
    top: 25%;
    left: 25%;
    position: absolute;
}